body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background-color: #34344a;
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

#app p,
label {
  color: #efe6dd;
  font-weight: 400;
  font-family: "Courier New", Courier, monospace;
}

.weatherWrapper.hidden {
  display: none;
}

.iconWrapper {
  display: flex;
  justify-content: center;
}

.textWrapper {
  display: flex;
  justify-content: center;
}

.textContainer {
  display: flex;
}

.bigText p {
  font-size: 4rem;
  margin: 0;
}

.toggleWrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: start;
  justify-items: space-between;
  padding-top: 10%;
}

.toggleWrapper span {
  padding-left: 1%;
  padding-right: 1%;
  font-size: 1rem;
  color: white;
}

.toggleWrapper p {
  cursor: pointer;
  font-size: 1.2rem;
  margin: 0;
}

#form {
  display: flex;
}

.formInline {
  display: flex;
  flex: 1 1 auto;
  gap: 5%;
  align-items: center;
  justify-content: space-between;
}

.formInline input {
  border-radius: 10px;
  border: 0;
}

#submitButton {
  border: none;
  color: #efe6dd;
  background-color: #377771;
  border-radius: 15px;
  font-size: 1.3rem;
  height: 1.8rem;
  display: block;
}
